@import '../styles/variables.scss';

$light: #f1f1f1;
$blue-light: #e0eefa;


.container {
	box-sizing: border-box;
	background-color: $light;
	width: 100%;
	display: flex;
	flex-direction: column;

	.header {
		text-align: center;
		font-size: 5rem;
		font-weight: 900;
		letter-spacing: -2px;
		margin: 3rem;
	}

	.body {
		.cardcontainer {
			background-color: $blue;

			.cardimgcontainer {
				overflow: hidden;
				// padding: 1rem;
				display: flex;
				flex-direction: column;
				justify-content: center;
				img {
					width: 100%;
					height: auto;
					object-fit: scale-down;
				}
			}

			.cardswrapper {
				display: grid;
				height: auto;
				gap: 1rem;
				padding: 1rem;;
				grid-template-areas: 
				"card1 card1 card2 card3"
				"card4 card4 card5 card5"
				"card6 card6 card6 card7"
				"card8 card8 card9 card10"
				;
	
				.card1 {
					grid-area: card1;
				}
				.card2 {
					grid-area: card2;
				}
				.card3 {
					grid-area: card3;
				}
				
				.card4 {
					grid-area: card4;
				}
				.card5 {
					grid-area: card5;
				}
				.card6 {
					grid-area: card6;
				}
				.card7 {
					grid-area: card7;
				}
				.card8 {
					grid-area: card8;
				}
				.card9 {
					grid-area: card9;
				}
				.card10 {
					grid-area: card10;
				}
				.card {
					padding: 1rem;
					text-transform: lowercase;
					background-color:$blue-light;
	
					.text {
						font-size: 1.2rem;
						font-weight: 700;
						letter-spacing: -1.5px;
	
						span {
							font-weight: 900;
							font-size: 2.2rem;
							display: block;
						}
					}
				}
			}
		}

		

		.maintitle {
			& > * {
				font-weight: 900;
				text-align: center;
				font-size: 5rem;
				letter-spacing: -2px;
				padding: 3rem 0;

			}
		}

		.main {
			display: flex;
			flex-direction: row-reverse;
			align-items: center;
			text-transform: lowercase;
			position: relative;
			padding-left: 3rem;
			

			.imgcontainer {
				width: 55%;
				right: 0;

				img {
					height: 100%;
					width: 100%;
					object-fit: cover;
				}
			}

			.commercialtitle {
				font-weight: 900;
				color: $green;
				font-size: 2rem;
				letter-spacing: -2px;

				.link {
					padding: 0 1rem;
					background-color: $green;
					text-decoration: none;

					&:hover {
						background-color: $primary;
					}
				}
				
			}

			.commercial {
				// display: flex;
				// flex-direction: column;
				width: 45%;
				margin-left: 4rem;
				.client {
					// width: 100%;
					text-align: center;
				}
				.business {
					width: 100%;
					text-align: center;
					// background-color: #42f6cc;
				}
			}

			.bulletwrapper {
				text-align: center;
				width: 100%;
				
				.bullet {
					display: flex;
					align-items: center;
					padding: 1rem 0;
					font-weight: 900;
					text-align: left;

					.bullettext {
						font-weight: 900;
						// color: $secondary;
						// font-size: 1rem;
						letter-spacing: -1px;
						margin-left: 1rem;
						font-size: 1.2rem;

						span {
							border-bottom: solid 10px #f3ef21;
						}
					}
				}
			}
		}
	}

	.footer {
		border-top: solid 10px $secondary;
		margin-top: 5rem;
		padding: 4rem 2rem;
		display: flex;
		justify-content: space-evenly;

		.contact {
			display: flex;
			flex-direction: column;
			.icon {
				margin-right: 1rem;
				font-size: 1.5rem;
			}
			.text {
				font-weight: 900;
				font-size: 1.2rem;
				letter-spacing: -1px;
				padding: 0 1rem;
				&:hover {
					background-color:$blue;
				}
			}
		}

		.logo {
			width: 200px;

			img {
				width: 100%;
			}
		}
	}
}

	.logocontainer {
		width: 30%;
		align-self: center;
	}

	.logo {
		width: 100%;
		height: 100%;
		object-fit: contain;
	}



