@import '../styles/variables.scss';

.container {
	background-color: $blue;
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	&::before {
		content: '';
		background-image: url('../media/woman2.png');
		background-size: cover;
		background-repeat: no-repeat;
		position: absolute;
		height: 100%;
		width: 100%;
		z-index: 2;
	}
}
