@import '../../../styles/variables.scss';

.container {
	display: flex;
	justify-content: space-between;
	align-content: center;

	.card {
		box-shadow: 0 3px 6px #0000001c;
		width: 380px;
		height: 500px;
		display: flex;
		flex-direction: column;
		&:hover {
			transform: scale(1.1)
		}

		.img {
			height: 100%;
			height: 150px;
			background-size: cover;
			background-position: top;
		}

		.cardcontent {
			text-align: center;
			text-transform: lowercase;

			.cardtitle {
				font-size: 1.5rem;
				font-weight: 900;
				letter-spacing: -1px;
				margin-bottom: 1rem;
			}

			.carddescription {
				font-size: 1.2rem;
				letter-spacing: -0.5px;
			}

			.carddetails {
				font-weight: 900;
				font-size: 1.2rem;
				letter-spacing: -0.5px;
				border: 3px solid $blue;
				padding: 0.5rem 0;
			}

			.stock {
				font-weight: 900;
				font-size: 1.2rem;
				letter-spacing: -0.5px;
				text-align: left;

				span {
					background-color: $secondary;
					padding: 4px 12px;
					color: $primary;
					border-radius: 100%;
					font-weight: 900;
				}
			}
		}

		.btncontainer {
			margin-top: auto;
			justify-content: center;
			margin-bottom: 0.5rem;
		}

		.state {
			display: flex;
			align-items: center;
			justify-content: center;
			gap: 0.5rem;
			text-align: center;
			text-transform: lowercase;
			padding: 0.3rem;
			background-color: $disabled;
			& > * {
				font-weight: 900;
				letter-spacing: -1px;
			}
		}
	}
}
