@import '../../../styles/variables.scss';

.container {
	display: flex;
	justify-content: space-between;
	align-content: center;

	.card {
		box-shadow: 0 3px 6px #0000001c;
		width: 350px;
		min-height: 350px;
		height: 400px;
		padding: 1rem;
		display: flex;
		flex-direction: column;
		&:hover {
			transform: scale(1.1)
		}

		.logocontainer {
			height: 100px;
			background-size: contain;
		}

		.cardcontent {
			
			.cardtitle {
				text-transform: lowercase;
				font-size: 1.5rem;
				padding: 0.5rem;
				font-weight: 900;
				letter-spacing: -1px;
				text-align: center;
				color: $secondary;
				// border: 3px solid $blue;
				// background-color: $blue;
			}

			.cardsubtitle {
				font-size: 1.1rem;
				margin: 0.5rem 0 2rem 0;
				padding: 0.5rem;
				text-align: center;
				text-transform: lowercase;
				color: $secondary;
				font-weight: 900;
				border: 3px solid $blue;
			}
		}

		.btncontainer {
			justify-content: center;
			margin-top: auto;
		}
	}
}
