$primary: #e9e2e2;
$dark: #323636;
$secondary: #2C3535;
$tertiary: #e3f54a;
// $blue: #B3D6F4;
$blue: #cee6f9;
$green: #a8de98;
$pink: rgb(253, 211, 236);
$disabled: #bdbdbd;

// no puse versiones light, main en theme config
$error: #df4a56;
$warning: #ffa726;
$info: #4fc3f7;
$success: #6cd3b9;

// .btnlarge {font-size: 1.5rem;}
// .btn-medium {font-size: 1.2rem;}
// .btn-small {font-size: 1rem;}

:export {
	primary: $primary;
	secondary: $secondary;
	tertiary: $tertiary;
	blue: $blue;
	green: $green;
	disabled: $disabled;
	error: $error;
	warning: $warning;
	info: $info;
	success: $success;
	dark: $dark;
}