@import '../../../styles/variables.scss';

.container {
	padding: 1rem 3.5rem;
	box-shadow: 0 3px 6px #00000029 !important;
	background-color: $secondary !important;
	
	.toolbar {
		justify-content: space-between;

		.logoContainer {
			img {
				object-fit: cover;
				max-width: 15%;
				height: auto;
			}
		}
	}
}

.menu-paper{
	background-color: $primary !important;
	margin-top: 0.5rem;
	border-radius: 0;
	padding: 0.5rem 1.5rem;
	box-shadow: 0 3px 6px #00000029;
}
