@import '../../../styles/variables.scss';

.container {
	padding: 1rem 3.5rem;
	box-shadow: 0 3px 6px #00000029 !important;

	.toolbar {
		justify-content: space-between;

		.logoContainer {
			img {
				object-fit: cover;
				max-width: 20%;
				height: auto;
			}
		}

		.actionsContainer {
			display: flex;
			justify-content: flex-end;
			align-items: center;
		}
	}
}

